In [1]:
# install.packages('sqldf')

In [2]:
library(dplyr)
library(sqldf)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'sqldf' was built under R version 3.6.3"Loading required package: gsubfn
Warning message:
"package 'gsubfn' was built under R version 3.6.3"Loading required package: proto
Warning message:
"package 'proto' was built under R version 3.6.3"Loading required package: RSQLite
Warning message:
"package 'RSQLite' was built under R version 3.6.3"

In [6]:
nrow(df_input_0)
ncol(df_input_0)

[1] 5163

[1] 41

In [7]:
nrow(df_input_1)
ncol(df_input_1)

[1] 1869

[1] 41

In [3]:
df_input_0 <- read.csv('./data/bootstrap_df_input_0.csv')
df_input_1 <- read.csv('./data/bootstrap_df_input_1.csv')

In [4]:
head(df_input_1)

  Churn2 tenure MonthlyCharges TotalCharges gender2 SeniorCitizen Partner2
1 1       2      53.85          108.15      1       0             0
2 1       2      70.70          151.65      0       0             0
3 1       8      99.65          820.50      0       0             0
4 1      28     104.80         3046.05      0       0             1
5 1      49     103.70         5036.30      1       0             0
6 1      10      55.20          528.35      0       0             1
  Dependents2 PhoneService2 PaperlessBilling2 ... streammov_no streammov_noinet
1 0           1             1                 ... 1            0
2 0           1             1                 ... 1            0
3 0           1             1                 ... 0            0
4 0           1             1                 ... 0            0
5 0           1             1                 ... 0            0
6 1           1             0                 ... 1            0
  streammov_yes contract_m2m contract_1y contract_2y pymt_banktf pymt_cc
1 0             1            0           0           0           0
2 0             1            0           0           0           0
3 1             1            0           0           0           0
4 1             1            0           0           0           0
5 1             1            0           0           1           0
6 0             1            0           0           0           1
  pymt_echeck pymt_mailedcheck
1 0           1
2 1           0
3 1           0
4 1           0
5 0           0
6 0           0

In [8]:
options(warn=-1)
matriks<-matrix(1:7857)
for (i in matriks)
{
  set.seed(i)
  train_ind <- sample(seq_len(nrow(df_input_0)), size = 7)
 a <- df_input_0[train_ind, ]
 write.table(data.frame(a), file="./data/boost_0.csv", append=T, sep = ",", row.names = FALSE)
}

In [9]:
options(warn=-1)
matriks<-matrix(1:15000)
for (i in matriks)
{
  set.seed(i)
  train_ind <- sample(seq_len(nrow(df_input_1)), size = 3)
 a <- df_input_1[train_ind, ]
 write.table(data.frame(a), file="./data/boost_1.csv", append=T, sep = ",", row.names = FALSE)
}